.stats {
	display: flex;
	justify-content: space-around;
	padding: 15px 20px;
	background-color: #f8f9fa;
	border-bottom: 1px solid #eaeaea;
}

.stat-item {
	text-align: center;
}

.stat-value {
	font-size: 29px;
	font-weight: bold;
	color: #2575fc;
}

.stat-label {
	font-size: 14px;
	color: #666;
	margin-top: 5px;
}